<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            min-width: 340px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            background-color: #1d2a1d;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .card-container {
            background-color: #afc5b0;
            padding: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 0 auto;
        }

        .card p {
            color: #333;
        }

        .card > p.title {
            font-size: 20px;
            border-bottom: 1px solid black;
            padding-bottom: 15px;
            text-align: center;
        }

        .footer {
            background-color: #1d2a1d;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .footer a {
            color: #fff;
            margin: 5px 0;
            text-decoration: none;
        }

        .reset-button {
            display: block;
            text-align: center;
            background-color: #f9c46e;
            color: #000;
            font-size: 15px;
            border-radius: 30px;
            font-weight: 600;
            border: 1px solid #f9c46e;
            padding: 12px 30px;
            text-decoration: none;
            cursor: pointer;
            width: fit-content;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <img src="https://www.bitloc.ca/images/logo_email.png"/>
    </div>

    <div class="card-container">
        <div class="card">
            <p class="title">Forgot Password - Reset Your BitLoc Account Password</p>
            <p>Dear <%= name %>,
                <br><br>
                We hope this email finds you well. It appears that you have requested a password reset for your BitLoc
                account. To proceed with the reset process, please click on the following link:<br><br>
                <a href="https://www.bitloc.ca/auth/resetpassword/<%= _id %>"  class="reset-button">Reset Password</a>
                <br><br>
                If you did not initiate this request, please disregard this message and ensure the security of your
                account. Feel free to contact our support team if you have any concerns or need further assistance.
                <br><br>
                Thank you for entrusting BitLoc with your financial needs.
                <br><br>
                Sincerely,<br>
                The BitLoc Team
            </p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2023 BitLoc Inc. ™BitLoc</p>
        <p>225 King Street West, Suite 1000<br>Toronto, Ontario, Canada M5V 3M2</p>
        <a href="https://facebook.com">Facebook</a>
        <a href="https://instagram.com">Instagram</a>
        <a href="https://linkedin.com">LinkedIn</a>
        <a href="https://twitter.com">Twitter</a>
    </div>
</div>
</body>
</html>
