<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            min-width: 340px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            background-color: #1d2a1d;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .card-container {
            background-color: #afc5b0;
            padding: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 0 auto;
        }

        .card p {
            color: #333;
        }

        .card > p.title {
            font-size: 20px;
            border-bottom: 1px solid black;
            padding-bottom: 15px;
            text-align: center;
        }

        .footer {
            background-color: #1d2a1d;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .footer a {
            color: #fff;
            margin: 5px 0;
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <img src="https://www.bitloc.ca/images/logo_email.png"/>
    </div>

    <div class="card-container">
        <div class="card">
            <p class="title">KYC Approval - Welcome to BitLoc's Lending Program!</p>
            <p>Dear <%= name %> ,
                <br><br>
                We are thrilled to inform you that your Know Your Customer (KYC) verification process with BitLoc has
                been successfully completed and approved! Congratulations, you are now a verified customer and have
                gained access to our exclusive lending program.
                <br><br>
                With BitLoc's lending program, you can take advantage of various financial opportunities to achieve your
                goals and dreams. We pride ourselves on providing secure and efficient lending services to our valued
                customers like you.
                <br><br>
                Thank you for choosing BitLoc, and we look forward to assisting you in your financial journey. If you
                have any questions or need any assistance, our dedicated team is here to support you.
                <br><br>
                Best regards,
                The BitLoc Team

            </p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2023 BitLoc Inc. ™BitLoc</p>
        <p>225 King Street West, Suite 1000<br>Toronto, Ontario, Canada M5V 3M2</p>
        <a href="https://facebook.com">Facebook</a>
        <a href="https://instagram.com">Instagram</a>
        <a href="https://linkedin.com">LinkedIn</a>
        <a href="https://twitter.com">Twitter</a>
    </div>
</div>
</body>
</html>
