<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            min-width: 340px;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            background-color: #1d2a1d;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        .card-container {
            background-color: #1d2a1d;
            padding: 50px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 0 auto;
        }

        .card p {
            color: #333;
        }

        .card > p.title {
            font-size: 20px;
            border-bottom: 1px solid black;
            padding-bottom: 15px;
            text-align: center;
        }

        .footer {
            background-color: #1d2a1d;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        .footer a {
            color: #fff;
            margin: 5px 0;
            text-decoration: none;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <img src="https://www.bitloc.ca/images/logo_email.png"/>
    </div>

    <div class="card-container">
        <div class="card">
            <p class="title">Interest Payment - Reminder for Your Upcoming Payment</p>
            <p>Dear <%= name %>,
                <br><br>
                We hope this email finds you well. We are writing to remind you that the monthly interest payment for
                your loan with BitLoc is due soon. We want to ensure you have the necessary information to fulfill your
                payment obligations promptly.
                <br><br>
                As a responsible borrower, timely interest payments are essential to maintaining a positive lending
                relationship. Please find below the details for your upcoming interest payment:<br>
                Loan Account Number: <%= account %><br>
                Interest Amount Due: $<%= paymentDue %> <br>
                Due Date: <%= date %>
                <br><br>
                If you encounter any challenges or have questions about the payment process, please do not hesitate to
                contact our dedicated support team. We are available to assist you and provide any necessary guidance.
                <br><br>
                Thank you for choosing BitLoc for your financial needs. We appreciate your timely cooperation and look
                forward to serving you further.
                <br><br>
                Best regards,<br>
                The BitLoc Team
            </p>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2023 BitLoc Inc. ™BitLoc</p>
        <p>225 King Street West, Suite 1000<br>Toronto, Ontario, Canada M5V 3M2</p>
        <a href="https://facebook.com">Facebook</a>
        <a href="https://instagram.com">Instagram</a>
        <a href="https://linkedin.com">LinkedIn</a>
        <a href="https://twitter.com">Twitter</a>
    </div>
</div>
</body>
</html>
